@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor0: #009FF5;
    --cor1: #278CC2;
    --cor2: #39718F;
    --cor3: #374F5C;
    --cor4: #292F33;  
    
    --fonte-destaque: 'Jersey 10', Arial, Helvetica, sans-serif;
    --fonte-padrão:'Roboto', Arial, Helvetica, sans-serif;
}

*{
    margin: 0%;
    padding: 0%;
}

header {
    background-color: var(--cor0);
    color: white;
    font-family: var(--fonte-padrão);
    font-size: 17px;
    text-align: center;
    padding-bottom: 12px;
}

header p {
    padding-top: 17px;
    padding-bottom: 8px;
}

header h1 {
    font-family: var(--fonte-destaque);
    font-size: 77px;
    text-align: center;
    padding-top: 5px;
    margin-bottom: -23px;
}

nav {
    background-color: var(--cor1);
    padding-bottom: 12px;
    padding-top: 12px; 
    text-align: center;
}

nav a {
    color: white;
    font-family: var(--fonte-padrão);
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

main :not(aside) {
    min-width: 250px;
    max-width: 1000px;
    margin: auto;
    padding-left: 1px;
    padding-right: 5px;
    background-color: white;
    font-family: var(--fonte-padrão);
}

main h1 {
    font-size: 40px;
    padding-top: 40px;
    padding-bottom: 15px;
}

main h2 {
    font-size: 30px;
    padding-bottom: 10px;
    padding-top: 25px;
}

main p {
    font-size: 20px;
    padding-bottom: 40px;
    line-height: 1.6;
    text-indent: 20px;
}

footer {
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    text-align: center;
}

aside {
    background-color: rgb(67, 74, 87);
    color: white;
    padding: 50px;
    font-family: var(--fonte-padrão);
    text-align: center; 
}

#social {
    padding-bottom: 20px;
}

#social a {
    color: white;
    font-size: 50px;
    padding: 30px;
}

#social h3 {
    font-size: 20px;
    padding-bottom: 30px;   
}

#despedida {
    max-width: 610px;
    padding-top: 30px;
    margin: auto;
} 

main img {
   width: 100%;
}

#social a:hover {
    color: var(--cor0);
}

div.video {
    background-color: var(--cor0);
    padding: 24px;
    padding-bottom: 54%;
    position: relative;
}

div.video > iframe {
    padding-left: 0%;
    padding-right: 0%;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}

